.card-div {
    width: 95%;
    justify-content: center;
    display: contents;
}
.h-title {
    font-size: 3rem;
}
.articulo-div {
    text-align: center;
}
.columna {
    text-align: center;
    display: flex;
    justify-content: center;
}
