.qatar-div {
    text-align: center;
    height: auto;
    padding: 10px;
    margin-bottom: 50px;
}
.qatar-title {
    font-size: 3rem;
    margin-bottom: auto;
}
.qatar-year {
    margin-top: auto;
}
.qatar-desc {
    font-size: 2rem;
}